{{#each filteredEvents as |event|}}
  <div class="entry days-{{event.dayDuration}}">
    <span>{{event.title}}</span>
    <h4>{{event.subject}}</h4>
    <span>{{event.teacher}}</span>
  </div>
{{/each}}
