<label>
  <span>Duration</span>
  <select name="time" id="time">
    <option value="15">0:15 hr</option>
    <option value="30">0:30 hr</option>
    <option value="45">0:45 hr</option>
    <option value="60">1:00 hr</option>
    <option value="75">1:15 hr</option>
    <option value="90">1:30 hr</option>
    <option value="105">1:45 hr</option>
    <option value="120">2:00 hr</option>
  </select>
</label>
