body {
  font-family: 'helvetica', 'sans-serif';
  font-size: small;
}

main {
  margin: 0 25px;
  overflow: hidden;
}

.week {
  display: flex;
  flex-wrap: nowrap;
  min-width: 1050px;
  border-left: 1px solid #BBB;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

.day {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7);
  height: 250px;
  border-right: 1px solid #BBB;
  background-color: #e0e8e8;
}

.day-title {
  text-align: center;
  border-bottom: 1px solid #BBB;
  background-color: #15283f;
  color: white;
}

.day-body {
  display: flex;
  align-items: stretch;
  padding: 10px 0 0 10px;
}

.event-entries {
  /*position: absolute;*/
  /*display: flex;*/
  font-size: 12px;
}

.event-entries .entry {
  margin-bottom: 10px;
  padding: 5px 10px 5px;
  background-color: orange;
  border: 1px solid #BBB;
}

.event-entries h4 {
  margin: 0;
}

.event-entries span {
  display: block;
  margin: 8px 0;
}

.create-event {
  border: 1px solid #BBB;
  margin: 30px 0;
  padding: 10px 20px 30px 30px;
  width: 350px;
  background-color: #e0e8e8;
}

.create-event form {
  display: flex;
  flex-wrap: wrap;
}

input {
  border: 1px solid #AAA;
  margin: 0 10px 25px 0;
  padding: 5px 8px;
  width: 146px;
  font-size: 13px;
}

input.title {
  width: 320px;
  margin-right: 0;
  font-size: inherit;
}

.ember-power-select-trigger {
  width: 162px;
  margin: 5px 10px 15px 0;
  padding: 2px 0 0 1px;
  border-radius: 0;
  font-size: 13px;
}

.ember-power-select-search-input {
  display: none;
  margin-bottom: 0;
}

.create-event button {
  font-size: 12px;
  display: block;
  width: 75px;
  height: 30px;
  margin: 20px 16px 0 0;
}
