body {
  font-family: 'helvetica', 'sans-serif';
  font-size: small;
}

main {
  margin: 0 25px;
  overflow: hidden;
}

.week {
  display: flex;
  flex-wrap: nowrap;
  min-width: 1050px;
  border-left: 1px solid #BBB;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

.day {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7);
  height: 250px;
  border-right: 1px solid #BBB;
  background-color: #e0e8e8;
}

.day-title {
  text-align: center;
  border-bottom: 1px solid #BBB;
  background-color: #15283f;
  color: white;
}

.day-body {
  display: flex;
  align-items: stretch;
  padding: 10px 0 0 10px;
}

.event-entry {
  /*position: absolute;*/
  /*display: flex;*/
  padding: 0 10px;
  font-size: 14px;
  /*width: 60px;
  height: 50px;*/
  background-color: orange;
  border: 1px solid #BBB;
}

.create-event {
  border: 1px solid #BBB;
  margin: 30px 0;
  padding: 10px 30px 30px 30px;
  width: 250px;
}

.create-event input, .create-event select {
  margin-bottom: 20px;
}

.create-event button {
  display: block;
  width: 75px;
  height: 30px;
  margin: 20px 0 0;
}
