@import "ember-power-select";

$title-bg-color: #15283f;
$title-color: #E0E8E8;
$primary-border-color: #BBB;
$secondary-border-color: #777;
$primary-bg-color: #E0E8E8;
$secondary-bg-color: #B1BFBF;
$current-day-title-color: #7DCB7D;
$entry-bg-color: #FABD4E;
$entry-hover-bg-color: #FFA500;

body {
  font-family: 'helvetica', 'sans-serif';
  font-size: small;
}

main {
  width: 1050px;
  margin: 0 auto;
}

.week {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  outline: 1px solid $primary-border-color;
}

.day {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7);
  min-height: 250px;
  outline: 1px solid $primary-border-color;
  background-color: $primary-bg-color;

  &.is-current-day h3 {
    color: $current-day-title-color;
  }

  &.is-current-day  {
    background-color: $secondary-bg-color;
  }

  .day-title {
    text-align: center;
    border-bottom: 1px solid $primary-border-color;
    background-color: $title-bg-color;
    color: $title-color;
  }

  .day-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .entries {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px 0 5px 10px;
    background-color: $entry-bg-color;
    opacity: 0.85;
    outline: 1px solid $primary-border-color;
    word-wrap: break-word;
    width: 120px;
    cursor: pointer;

    &[class*="days-"] {
      transition: all 0.3s ease;
    }

    &[class*="days-"]:hover { z-index: 1; }
    &.days-1:hover { width: 120px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
    &.days-2:hover { width: 270px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
    &.days-3:hover { width: 420px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
    &.days-4:hover { width: 570px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
    &.days-5:hover { width: 720px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
    &.days-6:hover { width: 870px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
    &.days-7:hover { width: 1020px; opacity: 1; outline: 1px solid $secondary-border-color; background-color: $entry-hover-bg-color;}
  }

  .entries {
    h4 { margin: 0; }

    span {
      display: block;
      margin: 8px 0;
    }
  }
}

.create-event {
  position: relative;
  border: 1px solid $primary-border-color;;
  margin: 30px 0;
  padding: 10px 20px 40px 30px;
  width: 350px;
  background-color: $primary-bg-color;

  form {
    display: flex;
    flex-wrap: wrap;
  }

  input {
    border: 1px solid $primary-border-color;
    margin: 0 10px 25px 0;
    padding: 5px 8px;
    width: 146px;
    font-size: 13px;
  }

  input.title {
    width: 320px;
    margin-right: 0;
    font-size: inherit;
  }

  button {
    font-size: 12px;
    display: block;
    width: 75px;
    height: 30px;
    margin: 20px 16px 0 0;
  }

  .error {
    color: red;
    position: absolute;
    margin-top: 10px;
    bottom: 0;
  }
}

.ember-power-select-trigger {
  width: 162px;
  margin: 5px 10px 15px 0;
  padding: 2px 0 0 1px;
  border-radius: 0;
  font-size: 13px;
}

.ember-power-select-search-input {
  display: none;
  margin-bottom: 0;
}
