body {
  font-family: 'helvetica', 'sans-serif';
  font-size: small;
}

main {
  width: 1050px;
  margin: 0 auto;
}

.week {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  border-left: 1px solid #BBB;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

.day {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7);
  border-right: 1px solid #BBB;
  background-color: #e0e8e8;
}

.day.is-current-day {
  /*outline: 1px solid red;*/
}

.day.is-current-day h3 {
  color: green;
}

.day-title {
  text-align: center;
  border-bottom: 1px solid #BBB;
  background-color: #15283f;
  color: white;
}

.day-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 0 0 10px;
}

.entries {
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.entry {
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px 0 5px 10px;
  background-color: orange;
  opacity: 1;
  border: 1px solid #BBB;
  word-wrap: break-word;
}

.entry.is-selected {
  opacity: 1;
  z-index: 100;
}

.entry.days-1 {
  width: 120px;
  /*z-index: 1;*/
}

.entry.days-2 {
  width: 270px;
  /*z-index: 1;*/
}

.entry.days-3 {
  width: 420px;
  /*z-index: 1;*/
}

.entry.days-4 {
  width: 570px;
  /*z-index: 1;*/
}

.entry.days-5 {
  width: 720px;
  /*z-index: 1;*/
}

.entry.days-6 {
  width: 870px;
  /*z-index: 1;*/
}

.entry.days-7 {
  width: 1020px;
  /*z-index: 1;*/
}

.entries h4 {
  margin: 0;
}

.entries span {
  display: block;
  margin: 8px 0;
}

.create-event {
  border: 1px solid #BBB;
  margin: 30px 0;
  padding: 10px 20px 30px 30px;
  width: 350px;
  background-color: #e0e8e8;
}

.create-event form {
  display: flex;
  flex-wrap: wrap;
}

input {
  border: 1px solid #AAA;
  margin: 0 10px 25px 0;
  padding: 5px 8px;
  width: 146px;
  font-size: 13px;
}

input.title {
  width: 320px;
  margin-right: 0;
  font-size: inherit;
}

.ember-power-select-trigger {
  width: 162px;
  margin: 5px 10px 15px 0;
  padding: 2px 0 0 1px;
  border-radius: 0;
  font-size: 13px;
}

.ember-power-select-search-input {
  display: none;
  margin-bottom: 0;
}

.create-event button {
  font-size: 12px;
  display: block;
  width: 75px;
  height: 30px;
  margin: 20px 16px 0 0;
}
