
<main>
  <h1>Events Calendar</h1>

  <div class="week">
    {{#each weekDates as |date|}}
      {{#events-day as |day|}}
        {{#day.title}}
          <h3>{{moment-format date 'dddd'}}</h3>
          <h4>{{moment-format date 'DD-MM-YYYY'}}</h4>
        {{/day.title}}
        {{#day.body}}
          {{event-entries
            events=model
            date=date
          }}
        {{/day.body}}
      {{/events-day}}
    {{/each}}
  </div>

  {{create-event weekDates=weekDates}}
</main>
