
<div class="main-container">
  {{#events-week as |week|}}
    {{#each dayNames as |dayName|}}
      {{#week.day as |day|}}
        {{#day.title}}
          <h3>{{dayName}}</h3>
        {{/day.title}}
        {{#day.body}}
        {{/day.body}}
      {{/week.day}}
    {{/each}}
  {{/events-week}}

  {{create-event}}
</div>
